<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] AXEL UP</title>
                <script src="https://kit.fontawesome.com/70a6c089f6.js" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body class="layout">
        <audio autoplay loop>
        <source src="~/img/tiktokSong.mp3" type="audio/mp3">
        </audio>
        <aside class="aside">
            <a href='@Url.Action("Index")'><img src="~/img/LogoAxel.png" class="aside__logo"></a>
            <div class="puntaje">@Juego.puntajeActual</div>
            
        </aside>

        <div class="juego">
            @RenderBody()
        </div>


        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
