
<div class="config">
    <div class="config__dificultad">
        <h2 class="config__titulo">Dificultad</h2>
        <div class="config__botones">
            <button class="config__boton" id="config__boton--facil">Facil</button>
            <button class="config__boton" id="config__boton--normal">Normal</button>
            <button class="config__boton" id="config__boton--dificil">Dificil</button>
            <button class="config__boton" id="config__boton--random">Random</button>
        </div>
    </div>
    <div class="config__dificultad">
        <h2 class="config__titulo">Categoria</h2>
        <div class="config__botones">
            @foreach (Categoria c in ViewBag.categorias)
            { 
                <button class="config__boton" id="config__boton--@c.Nombre" Action='@Url.Action("ModificarCategoria", new {cat=@c.IdCategoria})'>@c.Nombre</button>
            }
            
        </div>
    </div>
    <div class="config__volumen">
        <h2 class="config__titulo">Volumen</h2>
        <div class="config__volumen--wrapper">
            <i class="fa-solid fa-volume-high volumenIcono" id="volumen"></i>
            <i class="fa-solid fa-volume-xmark volumenIcono hidden" id="volumen-mute"></i>
        </div>
    </div>
    <div class="config__timer">
        <h2 class="config__titulo">Timer</h2>
        <div class="config__botones-timer">
            <button class="config__boton-timer" id="config__boton-timer-on" disabled>ON</button>
            <button class="config__boton-timer" id="config__boton-timer-off">OFF</button>
        </div>
    </div>
</div>