@{
    ViewData["Title"] = "Axel Up";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] Axel UP</title>
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"
            />
        <script src="https://kit.fontawesome.com/70a6c089f6.js" crossorigin="anonymous"></script>        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
    <body>
        <div class="inicio">
            <img src="~/img/LogoAxel.png" alt="Axel Up" class="inicio__logo animate__heartBeat animate__repeat-2">

            <div class="inicio__botones">
                    <button class="inicio__comenzar" id="boton__comenzar">COMENZAR</button>
                <a href='@Url.Action("")'><button class="inicio__puntaje">PUNTAJES</button></a>
            </div>
        </div>

        <div class="popup hidden" id="popup">
            <label for="nombre" class="popup__titulo">Ingresar Nombre</label>
            <input type="text" name="nombre" class="popup__input"/>
            <a href='@Url.Action("juego")'><button class="popup__boton">Iniciar</button></a>
        </div>
                <script src="~/js/inicio.js" asp-append-version="true"></script>
        @* @await RenderSectionAsync("Scripts", required: false) *@
    </body>
        <a href='@Url.Action("Configuracion")'><i class="fa-solid fa-gear configuracion"></i></a>
        <script src="~/js/inicio.js" asp-append-version="true"></script>
</html>


