@{
    ViewData["Title"] = "Axel Up";
    Layout = "";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] AXEL UP</title>
                <script src="https://kit.fontawesome.com/70a6c089f6.js" crossorigin="anonymous"></script>
                <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    </head>
<body>
<div class="puntajes">
    
        <h2 class="puntajes__titulo"> </h2>
        <h2 class="puntajes__titulo">Score</h2>
        <h2 class="puntajes__titulo">Name</h2>
    
    
        <h2 class="puntajes__titulo">1st</h2>
        <h2 class="puntajes__titulo">900</h2>
        <h2 class="puntajes__titulo">Zasel</h2>
    
</div>
</body>
</html>